In [1]:
# importing essential libraries
import pandas as pd
import numpy as np
import os
import warnings
from pandasql import sqldf

In [2]:
# supressing warning messages
warnings.filterwarnings('ignore')

In [3]:
# locating the data
parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
data_path = os.path.join(parent_dir,"data","test.csv")

#loading the data
df = pd.read_csv(data_path)
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16457E+15,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [4]:
# looking at available features
df.columns.to_list()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [5]:
# calculating percentages of missing values in each column 
def calculateMissing(df):
    df2 = df.isna().sum().to_frame().reset_index()
    df2.rename(columns = {'index':'variables', 0:'count'}, inplace = True)
    df2['percent'] = round(df2['count']*100/df.shape[0])
    data_type_lis = df.dtypes.to_frame().reset_index()
    df2['data_type'] = data_type_lis.iloc[:,1]
    
    unique_val = []
    for i in range(df2.shape[0]):
        unique_val.append(len(pd.unique(df[df2.iloc[i,0]])))
    df2['unique_values'] = pd.Series(unique_val)
    return df2

calculateMissing(df)

,variables,count,percent,data_type,unique_values
0,Bearer Id,991,1.0,float64,134709
1,Start,1,0.0,object,9998
2,Start ms,1,0.0,float64,1001
3,End,1,0.0,object,6404
4,End ms,1,0.0,float64,1001
5,Dur. (ms),1,0.0,float64,89526
6,IMSI,570,0.0,float64,107266
7,MSISDN/Number,1066,1.0,float64,106857
8,IMEI,572,0.0,float64,107271
9,Last Location Name,1153,1.0,object,45037
10,Avg RTT DL (ms),27829,19.0,float64,2131
11,Avg RTT UL (ms),27812,19.0,float64,723
12,Avg Bearer TP DL (kbps),1,0.0,float64,41754
13,Avg Bearer TP UL (kbps),1,0.0,float64,14529
14,TCP DL Retrans. Vol (Bytes),88146,59.0,float64,54400
15,TCP UL Retrans. Vol (Bytes),96649,64.0,float64,35121
16,DL TP < 50 Kbps (%),754,1.0,float64,101
17,50 Kbps < DL TP < 250 Kbps (%),754,1.0,float64,85
18,250 Kbps < DL TP < 1 Mbps (%),754,1.0,float64,74
19,DL TP > 1 Mbps (%),754,1.0,float64,86
20,UL TP < 10 Kbps (%),792,1.0,float64,99
21,10 Kbps < UL TP < 50 Kbps (%),792,1.0,float64,86
22,50 Kbps < UL TP < 300 Kbps (%),792,1.0,float64,69
23,UL TP > 300 Kbps (%),792,1.0,float64,64
24,HTTP DL (Bytes),81474,54.0,float64,63528
25,HTTP UL (Bytes),81810,55.0,float64,59943
26,Activity Duration DL (ms),1,0.0,float64,102561
27,Activity Duration UL (ms),1,0.0,float64,106293
28,Dur. (ms).1,1,0.0,float64,122872
29,Handset Manufacturer,572,0.0,object,171
30,Handset Type,572,0.0,object,1397
31,Nb of sec with 125000B < Vol DL,97538,65.0,float64,6459
32,Nb of sec with 1250B < Vol UL < 6250B,92894,62.0,float64,3399
33,Nb of sec with 31250B < Vol DL < 125000B,93586,62.0,float64,5756
34,Nb of sec with 37500B < Vol UL,130254,87.0,float64,1105
35,Nb of sec with 6250B < Vol DL < 31250B,88317,59.0,float64,6173
36,Nb of sec with 6250B < Vol UL < 37500B,111843,75.0,float64,1711
37,Nb of sec with Vol DL < 6250B,755,1.0,float64,22271
38,Nb of sec with Vol UL < 1250B,793,1.0,float64,22977
39,Social Media DL (Bytes),0,0.0,float64,146856
40,Social Media UL (Bytes),0,0.0,float64,59078
41,Google DL (Bytes),0,0.0,float64,149024
42,Google UL (Bytes),0,0.0,float64,147267
43,Email DL (Bytes),0,0.0,float64,146916
44,Email UL (Bytes),0,0.0,float64,138699
45,Youtube DL (Bytes),0,0.0,float64,149547
46,Youtube UL (Bytes),0,0.0,float64,149477
47,Netflix DL (Bytes),0,0.0,float64,149518
48,Netflix UL (Bytes),0,0.0,float64,149490
49,Gaming DL (Bytes),0,0.0,float64,149983
50,Gaming UL (Bytes),0,0.0,float64,149316
51,Other DL (Bytes),0,0.0,float64,149986
52,Other UL (Bytes),0,0.0,float64,149284
53,Total UL (Bytes),1,0.0,float64,149729
54,Total DL (Bytes),1,0.0,float64,149988

In [6]:
#droping columns with more than 30% missing values.
df3 = df.drop(df.columns[[14, 15, 24, 25, 31, 32, 33, 34, 35, 36]], axis=1) 
calculateMissing(df3)

                         variables  count  percent data_type  unique_values
0                        Bearer Id    991      1.0   float64         134709
1                            Start      1      0.0    object           9998
2                         Start ms      1      0.0   float64           1001
3                              End      1      0.0    object           6404
4                           End ms      1      0.0   float64           1001
5                        Dur. (ms)      1      0.0   float64          89526
6                             IMSI    570      0.0   float64         107266
7                    MSISDN/Number   1066      1.0   float64         106857
8                             IMEI    572      0.0   float64         107271
9               Last Location Name   1153      1.0    object          45037
10                 Avg RTT DL (ms)  27829     19.0   float64           2131
11                 Avg RTT UL (ms)  27812     19.0   float64            723
12         Avg Bearer TP DL (kbps)      1      0.0   float64          41754
13         Avg Bearer TP UL (kbps)      1      0.0   float64          14529
14             DL TP < 50 Kbps (%)    754      1.0   float64            101
15  50 Kbps < DL TP < 250 Kbps (%)    754      1.0   float64             85
16   250 Kbps < DL TP < 1 Mbps (%)    754      1.0   float64             74
17              DL TP > 1 Mbps (%)    754      1.0   float64             86
18             UL TP < 10 Kbps (%)    792      1.0   float64             99
19   10 Kbps < UL TP < 50 Kbps (%)    792      1.0   float64             86
20  50 Kbps < UL TP < 300 Kbps (%)    792      1.0   float64             69
21            UL TP > 300 Kbps (%)    792      1.0   float64             64
22       Activity Duration DL (ms)      1      0.0   float64         102561
23       Activity Duration UL (ms)      1      0.0   float64         106293
24                     Dur. (ms).1      1      0.0   float64         122872
25            Handset Manufacturer    572      0.0    object            171
26                    Handset Type    572      0.0    object           1397
27   Nb of sec with Vol DL < 6250B    755      1.0   float64          22271
28   Nb of sec with Vol UL < 1250B    793      1.0   float64          22977
29         Social Media DL (Bytes)      0      0.0   float64         146856
30         Social Media UL (Bytes)      0      0.0   float64          59078
31               Google DL (Bytes)      0      0.0   float64         149024
32               Google UL (Bytes)      0      0.0   float64         147267
33                Email DL (Bytes)      0      0.0   float64         146916
34                Email UL (Bytes)      0      0.0   float64         138699
35              Youtube DL (Bytes)      0      0.0   float64         149547
36              Youtube UL (Bytes)      0      0.0   float64         149477
37              Netflix DL (Bytes)      0      0.0   float64         149518
38              Netflix UL (Bytes)      0      0.0   float64         149490
39               Gaming DL (Bytes)      0      0.0   float64         149983
40               Gaming UL (Bytes)      0      0.0   float64         149316
41                Other DL (Bytes)      0      0.0   float64         149986
42                Other UL (Bytes)      0      0.0   float64         149284
43                Total UL (Bytes)      1      0.0   float64         149729
44                Total DL (Bytes)      1      0.0   float64         149988

In [7]:

#filling missing values of categorical variables with mode 
def fill_missing_by_mode(df, cols):
    mod_fill_list = []
    for i in range(cols.shape[0]):
        if(cols.iloc[i,3] == "object"):
            mod_fill_list.append(cols.iloc[i,0])
            
    for col in mod_fill_list:
        df[col] = df[col].fillna(df[col].mode()[0])
    return df

df3 = fill_missing_by_mode(df3, calculateMissing(df3))

calculateMissing(df3)

                         variables  count  percent data_type  unique_values
0                        Bearer Id    991      1.0   float64         134709
1                            Start      0      0.0    object           9997
2                         Start ms      1      0.0   float64           1001
3                              End      0      0.0    object           6403
4                           End ms      1      0.0   float64           1001
5                        Dur. (ms)      1      0.0   float64          89526
6                             IMSI    570      0.0   float64         107266
7                    MSISDN/Number   1066      1.0   float64         106857
8                             IMEI    572      0.0   float64         107271
9               Last Location Name      0      0.0    object          45036
10                 Avg RTT DL (ms)  27829     19.0   float64           2131
11                 Avg RTT UL (ms)  27812     19.0   float64            723
12         Avg Bearer TP DL (kbps)      1      0.0   float64          41754
13         Avg Bearer TP UL (kbps)      1      0.0   float64          14529
14             DL TP < 50 Kbps (%)    754      1.0   float64            101
15  50 Kbps < DL TP < 250 Kbps (%)    754      1.0   float64             85
16   250 Kbps < DL TP < 1 Mbps (%)    754      1.0   float64             74
17              DL TP > 1 Mbps (%)    754      1.0   float64             86
18             UL TP < 10 Kbps (%)    792      1.0   float64             99
19   10 Kbps < UL TP < 50 Kbps (%)    792      1.0   float64             86
20  50 Kbps < UL TP < 300 Kbps (%)    792      1.0   float64             69
21            UL TP > 300 Kbps (%)    792      1.0   float64             64
22       Activity Duration DL (ms)      1      0.0   float64         102561
23       Activity Duration UL (ms)      1      0.0   float64         106293
24                     Dur. (ms).1      1      0.0   float64         122872
25            Handset Manufacturer      0      0.0    object            170
26                    Handset Type      0      0.0    object           1396
27   Nb of sec with Vol DL < 6250B    755      1.0   float64          22271
28   Nb of sec with Vol UL < 1250B    793      1.0   float64          22977
29         Social Media DL (Bytes)      0      0.0   float64         146856
30         Social Media UL (Bytes)      0      0.0   float64          59078
31               Google DL (Bytes)      0      0.0   float64         149024
32               Google UL (Bytes)      0      0.0   float64         147267
33                Email DL (Bytes)      0      0.0   float64         146916
34                Email UL (Bytes)      0      0.0   float64         138699
35              Youtube DL (Bytes)      0      0.0   float64         149547
36              Youtube UL (Bytes)      0      0.0   float64         149477
37              Netflix DL (Bytes)      0      0.0   float64         149518
38              Netflix UL (Bytes)      0      0.0   float64         149490
39               Gaming DL (Bytes)      0      0.0   float64         149983
40               Gaming UL (Bytes)      0      0.0   float64         149316
41                Other DL (Bytes)      0      0.0   float64         149986
42                Other UL (Bytes)      0      0.0   float64         149284
43                Total UL (Bytes)      1      0.0   float64         149729
44                Total DL (Bytes)      1      0.0   float64         149988

In [8]:
def fix_missing_ffill(df, cols):
    for col in cols:
        df[col] = df[col].fillna(method='ffill')
    return df

def fill_missing_by_median(df, cols):
    median_fill_list = []

    for i in range(cols.shape[0]):
        if(cols.iloc[i,3] == "float64"):
            median_fill_list.append(cols.iloc[i,0])
            
    for col in median_fill_list:
        df[col] = df[col].fillna(df[col].median())
    return df

def fill_missing_by_mean(df, cols):
    mean_fill_list = []
    for i in range(cols.shape[0]):
        if(cols.iloc[i,3] == "float64"):
            mean_fill_list.append(cols.iloc[i,0])
    
    for col in mean_fill_list:
        df[col] = df[col].fillna(df[col].median())
    return df

df3 = fill_missing_by_median(df3, calculateMissing(df3))
                  


calculateMissing(df3)

                         variables  count  percent data_type  unique_values
0                        Bearer Id      0      0.0   float64         134709
1                            Start      0      0.0    object           9997
2                         Start ms      0      0.0   float64           1000
3                              End      0      0.0    object           6403
4                           End ms      0      0.0   float64           1000
5                        Dur. (ms)      0      0.0   float64          89525
6                             IMSI      0      0.0   float64         107265
7                    MSISDN/Number      0      0.0   float64         106856
8                             IMEI      0      0.0   float64         107270
9               Last Location Name      0      0.0    object          45036
10                 Avg RTT DL (ms)      0      0.0   float64           2130
11                 Avg RTT UL (ms)      0      0.0   float64            722
12         Avg Bearer TP DL (kbps)      0      0.0   float64          41753
13         Avg Bearer TP UL (kbps)      0      0.0   float64          14528
14             DL TP < 50 Kbps (%)      0      0.0   float64            100
15  50 Kbps < DL TP < 250 Kbps (%)      0      0.0   float64             84
16   250 Kbps < DL TP < 1 Mbps (%)      0      0.0   float64             73
17              DL TP > 1 Mbps (%)      0      0.0   float64             85
18             UL TP < 10 Kbps (%)      0      0.0   float64             98
19   10 Kbps < UL TP < 50 Kbps (%)      0      0.0   float64             85
20  50 Kbps < UL TP < 300 Kbps (%)      0      0.0   float64             68
21            UL TP > 300 Kbps (%)      0      0.0   float64             63
22       Activity Duration DL (ms)      0      0.0   float64         102561
23       Activity Duration UL (ms)      0      0.0   float64         106293
24                     Dur. (ms).1      0      0.0   float64         122871
25            Handset Manufacturer      0      0.0    object            170
26                    Handset Type      0      0.0    object           1396
27   Nb of sec with Vol DL < 6250B      0      0.0   float64          22270
28   Nb of sec with Vol UL < 1250B      0      0.0   float64          22976
29         Social Media DL (Bytes)      0      0.0   float64         146856
30         Social Media UL (Bytes)      0      0.0   float64          59078
31               Google DL (Bytes)      0      0.0   float64         149024
32               Google UL (Bytes)      0      0.0   float64         147267
33                Email DL (Bytes)      0      0.0   float64         146916
34                Email UL (Bytes)      0      0.0   float64         138699
35              Youtube DL (Bytes)      0      0.0   float64         149547
36              Youtube UL (Bytes)      0      0.0   float64         149477
37              Netflix DL (Bytes)      0      0.0   float64         149518
38              Netflix UL (Bytes)      0      0.0   float64         149490
39               Gaming DL (Bytes)      0      0.0   float64         149983
40               Gaming UL (Bytes)      0      0.0   float64         149316
41                Other DL (Bytes)      0      0.0   float64         149986
42                Other UL (Bytes)      0      0.0   float64         149284
43                Total UL (Bytes)      0      0.0   float64         149729
44                Total DL (Bytes)      0      0.0   float64         149988

In [9]:
# removing duplicate users
df3 = df3.drop_duplicates()
calculateMissing(df3)

                         variables  count  percent data_type  unique_values
0                        Bearer Id      0      0.0   float64         134709
1                            Start      0      0.0    object           9997
2                         Start ms      0      0.0   float64           1000
3                              End      0      0.0    object           6403
4                           End ms      0      0.0   float64           1000
5                        Dur. (ms)      0      0.0   float64          89525
6                             IMSI      0      0.0   float64         107265
7                    MSISDN/Number      0      0.0   float64         106856
8                             IMEI      0      0.0   float64         107270
9               Last Location Name      0      0.0    object          45036
10                 Avg RTT DL (ms)      0      0.0   float64           2130
11                 Avg RTT UL (ms)      0      0.0   float64            722
12         Avg Bearer TP DL (kbps)      0      0.0   float64          41753
13         Avg Bearer TP UL (kbps)      0      0.0   float64          14528
14             DL TP < 50 Kbps (%)      0      0.0   float64            100
15  50 Kbps < DL TP < 250 Kbps (%)      0      0.0   float64             84
16   250 Kbps < DL TP < 1 Mbps (%)      0      0.0   float64             73
17              DL TP > 1 Mbps (%)      0      0.0   float64             85
18             UL TP < 10 Kbps (%)      0      0.0   float64             98
19   10 Kbps < UL TP < 50 Kbps (%)      0      0.0   float64             85
20  50 Kbps < UL TP < 300 Kbps (%)      0      0.0   float64             68
21            UL TP > 300 Kbps (%)      0      0.0   float64             63
22       Activity Duration DL (ms)      0      0.0   float64         102561
23       Activity Duration UL (ms)      0      0.0   float64         106293
24                     Dur. (ms).1      0      0.0   float64         122871
25            Handset Manufacturer      0      0.0    object            170
26                    Handset Type      0      0.0    object           1396
27   Nb of sec with Vol DL < 6250B      0      0.0   float64          22270
28   Nb of sec with Vol UL < 1250B      0      0.0   float64          22976
29         Social Media DL (Bytes)      0      0.0   float64         146856
30         Social Media UL (Bytes)      0      0.0   float64          59078
31               Google DL (Bytes)      0      0.0   float64         149024
32               Google UL (Bytes)      0      0.0   float64         147267
33                Email DL (Bytes)      0      0.0   float64         146916
34                Email UL (Bytes)      0      0.0   float64         138699
35              Youtube DL (Bytes)      0      0.0   float64         149547
36              Youtube UL (Bytes)      0      0.0   float64         149477
37              Netflix DL (Bytes)      0      0.0   float64         149518
38              Netflix UL (Bytes)      0      0.0   float64         149490
39               Gaming DL (Bytes)      0      0.0   float64         149983
40               Gaming UL (Bytes)      0      0.0   float64         149316
41                Other DL (Bytes)      0      0.0   float64         149986
42                Other UL (Bytes)      0      0.0   float64         149284
43                Total UL (Bytes)      0      0.0   float64         149729
44                Total DL (Bytes)      0      0.0   float64         149988

<h1>Querying using sql</h1>

In [10]:
# creating a querying function.
queryDf = lambda q: sqldf(q, globals())

In [11]:
def getTopHandsets(num):
    query = 'SELECT "Handset Type", count(*) as user_count FROM df3 WHERE "Handset Type" != "undefined" group by "Handset Type" order by user_count DESC LIMIT '+str(num)
    return queryDf(query)

print(getTopHandsets(10))

                   Handset Type  user_count
0              Huawei B528S-23A       20324
1       Apple iPhone 6S (A1688)        9419
2        Apple iPhone 6 (A1586)        9023
3        Apple iPhone 7 (A1778)        6326
4       Apple iPhone Se (A1723)        5187
5        Apple iPhone 8 (A1905)        4993
6       Apple iPhone Xr (A2105)        4568
7  Samsung Galaxy S8 (Sm-G950F)        4520
8        Apple iPhone X (A1901)        3813
9    Samsung Galaxy A5 Sm-A520F        3724

In [12]:
def getTopManu(num):
    query = 'SELECT "Handset Manufacturer", count(*) as user_count FROM df3 WHERE "Handset Type" != "undefined" group by "Handset Manufacturer" order by user_count DESC LIMIT '+str(num)
    return queryDf(query)
print(getTopManu(3))

  Handset Manufacturer  user_count
0                Apple       60137
1              Samsung       40839
2               Huawei       34423

In [13]:
def manByHandset(lis, dfname):
    for man in lis:
        query = 'SELECT "Handset Manufacturer", "Handset Type", count(*) as num_users \
        FROM '+dfname+'\
        WHERE "Handset Manufacturer" = "'+man+'" \
        group by "Handset Type" \
        order by num_users DESC \
        LIMIT 3'
        print(queryDf(query),'\n')

manByHandset(getTopManu(5)["Handset Manufacturer"].to_list(),'df3')

  Handset Manufacturer             Handset Type  num_users
0                Apple  Apple iPhone 6S (A1688)       9419
1                Apple   Apple iPhone 6 (A1586)       9023
2                Apple   Apple iPhone 7 (A1778)       6326

  Handset Manufacturer                  Handset Type  num_users
0              Samsung  Samsung Galaxy S8 (Sm-G950F)       4520
1              Samsung    Samsung Galaxy A5 Sm-A520F       3724
2              Samsung   Samsung Galaxy J5 (Sm-J530)       3696

  Handset Manufacturer                    Handset Type  num_users
0               Huawei                Huawei B528S-23A      19752
1               Huawei                    Huawei E5180       2079
2               Huawei  Huawei P20 Lite Huawei Nova 3E       2021

            Handset Manufacturer                        Handset Type  \
0  Sony Mobile Communications Ab        Sony Mobile Comm. Xperia Xa2
1  Sony Mobile Communications Ab  Sony Mobile Comm. Xperia Xa2 Ultra
2  Sony Mobile Communications Ab  Sony Mobile Comm. Xperia Xa1 Ultra

   num_users
0        151
1        115
2         94

  Handset Manufacturer                  Handset Type  num_users
0     Wiko Global Sasu       Wiko Global Sasu Sunny3         76
1     Wiko Global Sasu  Wiko Global Sasu Wiko Lenny3         56
2     Wiko Global Sasu  Wiko Global Sasu Wiko Lenny2         48

In [24]:
def find_agg(df, group_columns, agg_columns, agg_metrics, new_columns):
    new_column_dict ={}
    agg_dict = {}
    for i in range(len(agg_columns)):
        new_column_dict[agg_columns[i]] = new_columns[i]
        agg_dict[agg_columns[i]] = agg_metrics[i]

    new_df = df.groupby(group_columns).agg(agg_dict).reset_index().rename(columns=new_column_dict)
    return new_df
def combineULDL(df, col1, col2, rem=True):
    df[col1.replace("DL", "Total Vol")] = df[col1]+df[col2]
    

grouping_lis = ["MSISDN/Number"]
aggr_lis = ["Bearer Id", "Dur. (ms)", "Total DL (Bytes)", "Total UL (Bytes)", "Social Media DL (Bytes)", "Social Media UL (Bytes)",\
    "Youtube DL (Bytes)", "Youtube UL (Bytes)", "Netflix DL (Bytes)", "Netflix UL (Bytes)", "Google DL (Bytes)", "Google UL (Bytes)", "Email DL (Bytes)", "Email UL (Bytes)", "Other DL (Bytes)", "Other UL (Bytes)"] 
metric_lis = ["count", "sum", "sum", "sum", "sum", "sum", "sum", "sum","sum", "sum", "sum", "sum", "sum", "sum", "sum","sum"]
col_names = ["xDr_session_count", "session_dur", "Total_DL_sum", "Total_UL_sum", "Social_Media_DL_sum", "Social_Media_UL_sum",\
    "Youtube_DL_total", "Youtube_UL_total", "Netflix_DL_total", "Netflix_UL_total", "Google_DL_total", "Google_UL_total", "Email_DL_total", "Email_UL_total", "Other_DL_total", "Other_UL_total"]


aggr_df = find_agg(df, grouping_lis, aggr_lis, metric_lis, col_names)
print(aggr_df['Youtube_UL_total'])
#combineULDL(aggr_df, "Youtube_DL_total", "Youtube_UL_total")
calculateMissing(aggr_df)

0          6724347.0
1          7107972.0
2         19196298.0
3          2584198.0
4         31193031.0
             ...
106851    18353533.0
106852    14254710.0
106853     2120016.0
106854    20044212.0
106855    21960390.0
Name: Youtube_UL_total, Length: 106856, dtype: float64

              variables  count  percent data_type  unique_values
0         MSISDN/Number      0      0.0   float64         106856
1     xDr_session_count      0      0.0     int64             18
2           session_dur      0      0.0   float64          77538
3          Total_DL_sum      0      0.0   float64         106851
4          Total_UL_sum      0      0.0   float64         106778
5   Social_Media_DL_sum      0      0.0   float64         105705
6   Social_Media_UL_sum      0      0.0   float64          64581
7      Youtube_DL_total      0      0.0   float64         106699
8      Youtube_UL_total      0      0.0   float64         106661
9      Netflix_DL_total      0      0.0   float64         106664
10     Netflix_UL_total      0      0.0   float64         106682
11      Google_DL_total      0      0.0   float64         106502
12      Google_UL_total      0      0.0   float64         105838
13       Email_DL_total      0      0.0   float64         105685
14       Email_UL_total      0      0.0   float64         102503
15       Other_DL_total      0      0.0   float64         106850
16       Other_UL_total      0      0.0   float64         106591

In [ ]:
def format_number(df, cols):
    float_format_list = []

    for i in range(cols.shape[0]):
        if(cols.iloc[i,3] == "float64"):
            float_format_list.append(cols.iloc[i,0])
    for col in float_format_list:
        df[col] = df.apply(lambda row : f'{row[col]:,.2f}', axis = 1)
    
    return df

In [16]:
def convert_bytes_to_megabytes(df, cols):
    bytes_list = []
    megabyte = 1*10e+5
    
    for i in range(cols.shape[0]):
        if("(Bytes)" in cols.iloc[i,0]):
            bytes_list.append(cols.iloc[i,0])
    
    for col in bytes_list:
        df[col] = df[col]/megabyte
        df.rename(columns={col:col.replace('(Bytes)','(MB)')}, inplace=True)
    return df

In [17]:
df3 = convert_bytes_to_megabytes(df3, calculateMissing(df3))
calculateMissing(df3)

                         variables  count  percent data_type  unique_values
0                        Bearer Id      0      0.0   float64         134709
1                            Start      0      0.0    object           9997
2                         Start ms      0      0.0   float64           1000
3                              End      0      0.0    object           6403
4                           End ms      0      0.0   float64           1000
5                        Dur. (ms)      0      0.0   float64          89525
6                             IMSI      0      0.0   float64         107265
7                    MSISDN/Number      0      0.0   float64         106856
8                             IMEI      0      0.0   float64         107270
9               Last Location Name      0      0.0    object          45036
10                 Avg RTT DL (ms)      0      0.0   float64           2130
11                 Avg RTT UL (ms)      0      0.0   float64            722
12         Avg Bearer TP DL (kbps)      0      0.0   float64          41753
13         Avg Bearer TP UL (kbps)      0      0.0   float64          14528
14             DL TP < 50 Kbps (%)      0      0.0   float64            100
15  50 Kbps < DL TP < 250 Kbps (%)      0      0.0   float64             84
16   250 Kbps < DL TP < 1 Mbps (%)      0      0.0   float64             73
17              DL TP > 1 Mbps (%)      0      0.0   float64             85
18             UL TP < 10 Kbps (%)      0      0.0   float64             98
19   10 Kbps < UL TP < 50 Kbps (%)      0      0.0   float64             85
20  50 Kbps < UL TP < 300 Kbps (%)      0      0.0   float64             68
21            UL TP > 300 Kbps (%)      0      0.0   float64             63
22       Activity Duration DL (ms)      0      0.0   float64         102561
23       Activity Duration UL (ms)      0      0.0   float64         106293
24                     Dur. (ms).1      0      0.0   float64         122871
25            Handset Manufacturer      0      0.0    object            170
26                    Handset Type      0      0.0    object           1396
27   Nb of sec with Vol DL < 6250B      0      0.0   float64          22270
28   Nb of sec with Vol UL < 1250B      0      0.0   float64          22976
29            Social Media DL (MB)      0      0.0   float64         146856
30            Social Media UL (MB)      0      0.0   float64          59078
31                  Google DL (MB)      0      0.0   float64         149024
32                  Google UL (MB)      0      0.0   float64         147267
33                   Email DL (MB)      0      0.0   float64         146916
34                   Email UL (MB)      0      0.0   float64         138699
35                 Youtube DL (MB)      0      0.0   float64         149547
36                 Youtube UL (MB)      0      0.0   float64         149477
37                 Netflix DL (MB)      0      0.0   float64         149518
38                 Netflix UL (MB)      0      0.0   float64         149490
39                  Gaming DL (MB)      0      0.0   float64         149983
40                  Gaming UL (MB)      0      0.0   float64         149316
41                   Other DL (MB)      0      0.0   float64         149986
42                   Other UL (MB)      0      0.0   float64         149284
43                   Total UL (MB)      0      0.0   float64         149729
44                   Total DL (MB)      0      0.0   float64         149988